<h1>Item Show Page</h1>
Description:
<div id="description">
  <%=@item_info.description%>
</div>
<br>
<br>
Name: 
<div id="name">
  <%=@item_info.name%>
</div>
<br>
<br>
Unit Price: 
<div id="unit_price">
  <%=@item_info.unit_price%>
</div>
<br><br><br><br><br><br><br>